*, * > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/space.jpg);
    background-size: cover;
    background-position: center;
}

.listCards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 250px;
    height: 350px;
    flex-shrink: 0;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
}

.card.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    height: 400px;
    z-index: 3;
}

@media (max-width: 768px) {
    .card.active {
        width: 90%;
    }
}

.card:hover .wrapperImg {
    transform: scale(0.95);
}

.card:hover .imgAvatar{
    transform: scale(1.3);
}

.card:hover .btnCard {
    box-shadow: 0 0 6px black;
}

.cardFront, .cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: perspective(500);
    border-radius: 20px;
}

.cardFront {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid rgb(238, 235, 235);
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(2px);
    transition: background-color .2s, transform .8s;
    z-index: 1;
    transform: rotateY(0deg);
}

.cardFront:hover {
    background-color: rgba(198, 21, 204, 0.233);
    backdrop-filter: blur(5px);
}

.cardBack {
    background-color: rgba(0, 0, 255, 0.356);
    position: absolute;
    transition: transform .8s;
    transform: rotateY(-180deg);
    text-align: center;
    backdrop-filter: blur(8px);
    border: 2px solid white;
    padding: 15px;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: transparent;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0s;
    user-select: none;
}

@media (max-width: 768px) {
    .description {
        font-size: 20px;
    }
}


.card.active .description {
    color: white;
    transition: color 0.2s 0.2s;
}

.card.active .cardFront{
    transform: rotateY(180deg);
}

.card.active .cardBack{
    transform: rotateY(0deg);
}

.title {
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    user-select: none;
}

.wrapperImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform .2s;
}

.imgAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s;
}

.btnCard {
    padding: 5px 20px;
    background-color: rgb(135, 70, 196);
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    transition: .2s;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btnClose {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    outline: none;
    background-image: url(/cross.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
}

.btnClose:hover {
    transform: rotate(180deg);
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
    transition: .5s;
}

.fade.active {
    pointer-events: all;
    backdrop-filter: blur(10px);
    background-color: rgba(137, 43, 226, 0.459);
}